/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-firaSans text-primary text-16xl  scroll-smooth bg-primaryBg scroll-pt-[112px] d:scroll-pt-[88px];
}

img {
  @apply font-firaSans font-normal text-14xl;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

/* advantage section styles */
.container {
  @apply mx-auto my-0 px-5  t:px-[30px] d:px-[100px] min-w-[360px] max-w-[480px] t:max-w-[768px] d:max-w-[1440px];
}

/*  */
.sectionTitle {
  @apply font-oswald text-028xl t:text-036xl d:text-048xl uppercase;
}
.hoverLight {
  @apply hover:text-accent transition-colors duration-200;
}
